#faq dt, #faq dd {
  padding: 0 0 0 50px;
  font-size:16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#faq dt {
  color: #143567;
  cursor: help;
  height: 50px;
  line-height: 37px;
  margin: 0px 0 15px 25px
}
#faq dd {
  margin: 0 0 20px 25px
}
#faq dt {
  background: url(http://s7.postimg.org/hnhuaeyjr/opensteamfaqicon.png) no-repeat left;
}
#faq .expand {
  background: url(http://s27.postimg.org/pio57uci7/closesteamfaqicon.png) no-repeat left;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}