body {
  background-image: url("http://s8.postimg.org/62curyt91/catgirl.jpg");
  background-color: #d6f3ee;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: arial, sans-serif;
  color: #3f3b50;
}
.main {
  float: top;
  width: 95%;
  padding-left: 50px;
  height: 100vh;
}
.sidebar {
  float: left;
  width: 20vw;
  text-align: right;
  padding-right: 10px;
}
.right {
  float: left;
  padding: 15px;
  position: relative;
  overflow-x: scroll;
  margin-left: 5px;
  width: 40%;
  height: 75vh;
  border-style: inset;
  border-width: 4px;
  border-color: #585373;
}
header {
  font-family: arial, sans-serif;
  text-align: left;
  font-size: 36px;
  font-weight: bold;
  padding-left: 25px;
  padding-top: 30px;
  height: 25vh;
  width: 100vw;
}
footer {
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  height: 50px;
}
#navbar {
  float: top;
  padding-left: 115px;
  padding-bottom: 20px;
  height: 50px;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
}
#navbar li {
  float: left;
}
#navbar a:link, a:visited {
  display: block;
  width: 150px;
  font-weight:bold;
  color: #FFFFFF;
  background-color: #585373;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
#navbar a:hover, a:active {
  background-color: #17161e;
}
.sidebar a, a:link, a:visited {
  display: block;
  font-weight:bold;
  color: #FFFFFF;
  background-color: #585373;
  text-align: center;
  text-decoration: none;
}
.sidebar a:hover, a:active {
  background-color: #17161e;
}
.img a:link, a:visited {
  background-color: transparent;
}